image:
  frontend:
    repository: shirleycutie/clientforheadlineapp
    tag: v-5d53d27
    pullPolicy: IfNotPresent
  backend:
    repository: shirleycutie/serverforheadlineapp
    tag: v-5d53d27
    pullPolicy: IfNotPresent
service:
  frontend:
    type: ClusterIP
    port: 80
  backend:
    type: ClusterIP
    port: 8080
ingress:
  enable: false

serviceAccount:
  enable: false

autoscaling:
  enable: false

mysql:
  rootPassword: root
  database: sm_db