name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Short SHA
        run: |
            echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and Push Vite Frontend
        run: |
          docker build -t shirleycutie/clientforheadlineapp:${{ env.SHORT_SHA }} ./ViteClient
          docker push shirleycutie/clientforheadlineapp:${{ env.SHORT_SHA }}

      - name: Build Spring Boot Application
        run: |
          cd HeadlineServer
          mvn clean package -DskipTests

      - name: Build and Push Spring Boot Backend
        run: |
          docker build -t shirleycutie/serverforheadlineapp:${{ env.SHORT_SHA }} ./HeadlineServer
          docker push shirleycutie/serverforheadlineapp:${{ env.SHORT_SHA }}

      - name: Configure Git Author
        run: |
          git config --local user.name "testName"
          git config --local user.email "tribble1998@gmail.com"
      
      - name: Update Helm Chart with new image tag
        run: |
          sed -i "s/tag:.*/tag: ${{env.SHORT_SHA}}/" ./headline-app/values.yaml
          git add ./headline-app/values.yaml
          git commit -m "Updated image tag to ${{env.SHORT_SHA}}"
          git push